* {
    padding: 0px;
    margin: 0px;
    border: none;
    font-family: 'Trebuchet MS';
  }
a, a:link, a:visited  {
    text-decoration: none;
    color: inherit;
}
.container4 { 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.container5 {
    display: flex;
    flex-direction: row;
    padding-right: 150px;
}
.image_pfp{
    width: auto; 
    height: 260px; 
    padding-top: 0px; 
    margin-left: 160px;
    max-width: fit-content;
    max-height: fit-content;
}
h5 {
    font-size: 20px;
    font-family: 'Trebuchet MS';
}
aside {
    font-size: 20px; 
    font-family: 'Trebuchet MS'; 
    padding-left: 20px; 
    border-right: 2px solid #bf7fdb;
    padding-right: 10px;
    padding-top: 10px;
}
main {
    font-family: 'Trebuchet MS';
    font-size: 20px;
    padding-left: 60px;
}
.main-icon {
    width: auto;
    height: 50px;
    margin-top: 10px;
}

aside p{
    padding-bottom: 5px;
}
main h4 {
    padding-bottom: 10px;
}
.navigation {
    font-weight: bold; 
    padding-bottom: 10px;      
}
main h1 {
    padding-left: 120px;
}
.about-me {
    font-size: 20px;
    padding-top: 65px; 
    padding-bottom: 20px; 
    padding-left: 120px;
}
.backend {
    margin-top: 40px;
}
.top-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.top {
    display: none;
}
video {
    width: 60%;
    height: 50%;
    display: block;
    margin: auto;
}
@media (max-width: 768px) { 
    .container4 {
        flex-direction: column;
    }
    aside {
        display: flex;
        flex-direction: column;
        align-items: center;
        border-right: 0px;
        border-bottom: 2px solid #bf7fdb;
        border-top: 2px solid #bf7fdb;
        font-size: 0.9em;
        padding: 0px;
        padding-top: 2px;
    }
    .option {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 50px;
    }
    main {
        padding: 0px;
    }
    main h1 {
        padding: 0px;
        font-size: 1.1em;
        text-align: center;
        padding-top: 20px;
    }
    .about-me {
        padding: 0px;
        align-content: center;
        text-align: center;
        font-size: 0.6em;
    }
    .image_pfp {
        margin: 0px;
        width: 10%;
        padding-right: 10px;
        padding-top: 10px;
    }
    .container5 {
        padding: 0px;
    }
    .main-info{
        margin-left: 10px;
        margin-right: 10px;
        font-size: 0.6em;
    }
    .text-main {
        text-align: justify;
    }
    video {
        width: 100%;
        height: 60%;
        padding-top: 10px;
    }
    footer {
        flex-direction: row;
        width: 100%;
        gap: 4px;
        justify-content: center;
    }
    .footer-text {
        margin-left: 0px;
        margin-right: 0px;
        font-size: 0.6em;
    }
    .footer-icon {
        padding-top: 10px;
        width: 0.8em;
        height: 0.8em;
    }
    .top {
        width: 10%;
        position: static;
        bottom:30px;
        left: 30px;
    }
    .top-container {
        width: 100%;
        justify-content: center;
        align-items: center;
    }
}
@media ((min-width: 768px) and (max-width: 1024px)) {
    .container5 {
        padding: 0px;
    }
    .about-me {
        padding: 0px;
        align-content: center;
        text-align: center;
    }
    .image_pfp {
        margin: 0px;
        width: 10%;
        padding-right: 10px;
        padding-top: 10px;
    }
    main h1 {
        padding: 0px;
        text-align: center;
        padding-top: 20px;
    }
    main {
        padding-left: 10px;
        padding-right: 10px;
    }
    video {
        width: 100%;
        height: 60%;
        padding-top: 10px;
    }
    .text-main {
        text-align: justify;
    }
    footer {
        flex-direction: row;
        width: 100%;
        gap: 4px;
        justify-content: center;
    }
    .footer-text {
        margin-left: 0px;
        margin-right: 0px;
    }
    .footer-icon {
        padding-top: 10px;
        width: 0.8em;
        height: 0.8em;
    }
    .top{
        width: 10%;
        position: fixed;
        bottom:30px;
        left: 30px
    }
}